footer{
    width: 100%;
    height: calc(100px + (220 - 100)*((100vw - 320px)/(1600-320)));
    background-color:rgb(35, 35, 35);
    display: flex;    
    align-content: center;
    
}

nav{
    width: 100%;
    margin:auto;
    display: block;
    text-align: center;
}

footer li img{    
    width: calc(20px + (90 - 20)*((100vw - 320px)/(1600-320)));
    height: calc(20px + (90 - 20)*((100vw - 320px)/(1600-320)));
}

nav h2{
    padding-bottom: 5px;
    color: lightblue;
    font-size: calc(10px + (30 - 10)*((100vw - 320px)/(1600-320)));
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    list-style: none;
  }
li{
    margin: auto; 
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
}

li h6{    
    font-size: calc(5px + (20 - 5)*((100vw - 320px)/(1600-320)));
}
li h6,a,img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: lightblue;
}
li a{
    text-decoration: none;
    color: rgb(65, 208, 255);
    font-size: calc(3px + (20 - 3)*((100vw - 320px)/(1600-320)));

}
