@font-face {
    font-family: "LatoRegular";
    src: url("./fonts/lato-regular.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal; }

.nav{
    width: 100%;
    min-width: 320px;
    background-color: #262626;
    display: flex;
    justify-content: center;
}

.nav-languages{
    display: flex;
    flex-direction: row;
    
}
.header-links{
    margin-right: 20px;
}
.link{
    margin-left: 10px;
}
.Nav-link{
    text-decoration: none;
    color: #c4c4c4;
    font-family: LatoRegular;
    font-size: 15px !important;
}
.Nav-link:hover{
    color:#61b8ff;
}
div.collapse.navbar-collapse{
    justify-content: flex-end;
}
.lang>span{
    text-decoration: none;
    color: #c4c4c4;
    font-family: LatoRegular;
    font-size: 15px !important;
}
.lang>span:hover{
    color: #61b8ff;
}

